@model LinkUpProject.Application.ViewModels.Account.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Restablecer contraseña";
}

<h2>Restablecer contraseña</h2>

<form asp-action="ForgotPassword" method="post">
    <div class="mb-3">
        <label for="UserName">Nombre de usuario</label>
        <input name="UserName" id="UserName" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Enviar enlace</button>
    <a asp-action="Login" class="btn btn-secondary">Volver atrás</a>
</form>